//Footer Style
@import './variables';

footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg,$primary,#090422,black);
    text-align: center;
    border-top: 5px solid $secondary;
    .logo-rodape{
        padding: 100px;
        
        .agencia{
            font-family: "Lobster", sans-serif;
            color:  white;
            font-size: 34px
        }
    }
}
